header{
    height:100vh ;
    padding-top: 6rem;
    overflow: hidden;
}
.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}
.header_container h1 {
    text-align: center;
    font-weight: 300;
    color:var(--color-bg);
    text-shadow: 2px 4px 8px rgba(2,0,3,.9);    
}
.cta {
margin-top: 2.5rem;
display: flex;
gap:1.2em ;
justify-content: center;
}
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    color: var(--color-white);
}
.header__socials::after {
    content: '';
    width: 1px;
    height: 1rem;
    background: var(--color-bg);
}
.me {
    background: linear-gradient( var(--color-tomato), transparent);
    width:22rem;
    height: 22rem;
    position: absolute;
    left:calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem;
    overflow: hidden;
    padding: 1.5rem;
}
.me-img{
   width: 300px;
   border-radius: 12rem;
  
}
/*--------- scrolldown -------*/
.scroll__down {
    position: absolute;
    right: -4em;
    bottom: 5em;
    transform: rotate(90deg);
    font-size: 20px;
    color: var(--color-bg);
}
.sweden {
    position: absolute;
    right: -4em;
    bottom: 2em;
    transform: rotate(270deg);
    font-size: 20px;
    color: var(--color-bg);
}
/*-------media queries (medium devices) ----------*/
@media screen and (max-width:1024px)  {
    header {
        height: 100vh;
    }   
}
/*-------media queries (small devices) ----------*/
@media screen and (max-width:600px)  {
    .container {
        background: transparent;
    }
    header {
        height: 100vh;
    }
    .header__socials, .scroll__down {
        display: none;
    }

}