nav {
    background:rgba(2, 0, 3, .3) ;
    width:max-content ;
    display: flex;
    padding: .6em 1em;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom:3em;
    border-radius: 3em;
    backdrop-filter: blur(5px);
}

nav a {
    background: rgba(2,0, 3, .45); 
    padding: 1em;
    border-radius: 50%;
    margin: .3em;
    display: flex;
    color: var(--color-light);
    font-size: 1.1em;
}
nav a:hover {
    background:var(--color-bg);    
}
nav a.active {
    background: var(--color-tomato); 
}